body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h5 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="reset"],
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="reset"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="reset"]:focus,
button[type="submit"]:focus {
    outline: none;
}

button[type="reset"] {
    background-color: #f44336;
}

button[type="reset"]:hover {
    background-color: #da190b;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
}